#container-grid{
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 40px;

}
#container-grid #row1 img{
  width: 600px;
  height: 400px;
}
#container-grid #row2 img{
  width: 600px;
  height: 400px;
  
}
